#devCardBody {
    width:350px;
    height: 450px;
    background-color:whitesmoke;
    padding:10px;
}

.devCardP {
    margin:7px !important
}

#devCardRow {
    margin-bottom:0px;
}
#devCardDevImage {
    height:auto;
    max-height:100px;
    width:auto;
    max-width:100px;
    margin:auto;
    background-color:ghostwhite;
    border-radius:10px;
}

#devCardDevNameColumn {
    padding:0px;
}

#devCardDevName {
    right:0;
    background-color:white;
    font-weight:bold;
    height:25px;
    padding-left:5px;
}

#devCardDevOccupation {
    right:0;
    font-weight:bold;
    height:25px;
    padding-left:5px;
}
#devCardDevRole {
    right:0;
    font-style:italic;
    height:25px;
    padding-left:5px;
}

#devCardDevDescription {
    background-color:white;
    margin:10px;
    padding:10px;
    height:250px;

}

#devCardDevLanguages {
    position:absolute;
    bottom:0px;
    background-color:white;
    margin:10px;
    padding:10px;
    padding-bottom:25px;
    height:150px;
    width:95%;
}

#devCardLikeButton {
    position:absolute;
    right:5px;
    bottom:5px;
}

#devCardButtonLike {
    text-align:right;
}

@media screen and (max-width:1600px) {
    .container {
        width: 80%;
    }
}

@media screen and (max-width:1300px) {
    .container {
        width: 100%;
    }
}