#profilePage {
    margin-top: 40px;
}
#profilePageColumnUpload {
    padding:0px 20px;
    text-align:right !important;
}

#profilePageColumn {
    padding:0px 100px;
}

#delete-button{
    text-align:left !important;
}

#profilePageColumnSave {
    padding:0px 100px;
    text-align:right;
}

.container {
    padding-bottom:40px;
}