#signUpContainer {
  text-align:center;
}

#Register-a-new-account {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  #submit {
    position: absolute;
    right: 10%;
  }
  