/* body {
    background-color:whitesmoke;
} */

.container {
    background-color:white;
    margin-top:5px;
}

#appTitle {
    font-family:monospace;
    margin: 30px 0px;
}

#landing-background {
    margin:auto;
    height:440px;
    padding:100px;
    object-fit: cover;
    background-position: center;
    background-repeat:no-repeat;
    background-image: url("../../assets/home-background.png");
}

.landing-buttons {
    margin: auto;
    height: 200px;
    width: 450px;
    padding:10px;
    background-color:rgba(248,248,255,0.8);
}

.homeText {
    align-content:center;
    text-align:center;
}

#landing-sign-in-button {
    margin-right:25px;
    margin-top:20px;
}
#landing-sign-up-button {
    margin-left:25px;
    margin-top:20px;
}

#titleAppend {
    color:#6bdb63;
}

#titleFriend {
    color:darkorange;
    font-style:italic;
}