.nav-wrapper {
    background-color: black;
    padding-right: 2%;
}

#search-bar {
    background-color: white;
    color: rgb(129, 102, 102);
    padding-left: 5px;
    height: 40px;
}

#search-div {
    width: 200px;
}

#brand-logo {
    font-family: "monospace" !important;
    text-align: "center";
}