#profilePage {
    margin-top: 40px;
}

#profilePageColumn {
    padding:0px 100px;
}

#profilePagePicture {
    margin:auto;
    height:auto;
    max-height:400px;
    width:auto;
    max-width:300px;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 6px lightgray;
}

#profilePageButtons {
    
    text-align: right;
}

#devCardImageContainer {
    padding-top:30px;
}

#profilePageAboutCol {
    padding:20px;
}