#profilePage {
    margin-top: 40px;
}

#profilePageColumn {
    padding:0px 100px;
}

#profilePagePicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:300px;
    width:300px;
    border-radius: 150px;
    border: 1px solid lightgray;
    background-color:whitesmoke;
    text-align:center;
    /* box-shadow: 5px 5px 12px lightgray; */
}

#profilePageButtons {
    padding:0px 100px;
    text-align: right;
}